/* Import Fira Code font */
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Luckiest+Guy&display=swap');



html, body {
  height: 100%;           /* Ensure full height for the page */
  margin: 0;     
  box-sizing: border-box;          /* Remove default margin */
}

body {
  background-color:azure;
  display: flex;  
  color: black;        /* Make body a flex container */
  flex-direction: column; /* Stack children (header, content, footer) vertically */
  min-height: 100vh;  
  font-family: 'Fira Code', monospace;    /* Ensure the body takes up at least the full height of the viewport */
}
.navBar{
margin-left: 5px;

}

a{
  text-decoration: none;
  margin: 5px;
  color: black;
  font-size: 100%;
}
@media (max-width: 1200px) {
  a {
    font-size: 100%; /* 2 items per row for medium screens */
  }
}

@media (max-width: 740px) {
  a {
    font-size: 100%; /* 2 items per row for medium screens */
  }
}
@media (max-width: 480px) {
  a {
    font-size: 70%; /* Even smaller for very small phones */
  }
}

header {
  /* position: sticky; */
  position: relative;
  top: 0; /* Ensures the header sticks to the top */
  justify-content: center;
  align-items: center;
  width: 100vw;
  text-align: center;
  border-bottom: solid 1px;
  display: flex;
  flex-wrap: wrap;
  height: auto;
  /* flex: 1; */
 padding-bottom: 5;
 overflow: hidden;
  z-index: 30; /* Optional, to make sure it stays on top of other content */
}
.title{
  justify-content: center;
  align-content: center;
  text-align: center;
  display: flex;
  flex-direction: row;
  margin-bottom: -40px;
  margin-top: -50px;
}
#name{
  /* border: black solid ; */
  width:230px;
  font-size: 4em;
 text-align: center;
 align-content: center;
 justify-content: center;
 padding-right: 5px;
}
#titles{
  margin-top: 53px;
  border-left: black solid ;
  width:194px;
  font-size: 2em;
  padding-left: 5px;
 text-align: left;
 height: 168px;
}
.projectTitle{

  justify-content: flex-end;

  width:90vw
}

footer {
  background-color: #333;
  color: white;
  padding-bottom: 20px;
  position: relative;
  text-align: center;
  margin-top: auto; 
  height: 20px; 
}

.content {
  flex: 1; /* Make content take the available space between header and footer */
  overflow-y: auto;
  z-index: 1;
  height:100vw; /* Lower z-index to ensure content goes behind the header */
}


.projectContainer, .aboutMeContainer, .certsAndStacksContainer, .getInTouchContainer{
  border: solid 1px;
  flex: 1;
  justify-content: center;
  text-align: center;
  /* padding: 100px; */
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}
.projects{
  width: 99vw;
  border: solid 1px;
  margin-top: 0px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-self: center;
  justify-content: space-evenly;
  flex-direction: row;
}

.project1, .project2, .project3{
  background-color: black;
  border: solid;
  margin: 5px;
  border-radius: 10px;
  box-sizing: border-box; /* Ensures padding and border are included in width/height */
  width: 30%; /* Adjust the percentage to control how many items fit in a row */
  min-width: 250px; /* Minimum width to maintain design on smaller screens */
  height: 350px; 
  display: inline-block;
  text-align: center;
  vertical-align: top; 
  position: relative; 
}

.project1 {
  border-color: red;
  border-style: solid; /* Ensure there is a border */
  border-width: 2px; /* Adjust as needed */
  box-shadow: 0px 0px 7px red; /* Horizontal, Vertical, Blur radius, Color */
}
.project2 {
  border-color: lightgreen;
  border-style: solid; /* Ensure there is a border */
  border-width: 2px; /* Adjust as needed */
  box-shadow: 0px 0px 7px lightgreen; /* Horizontal, Vertical, Blur radius, Color */
}
.project3 {
  border-color:#0063A1;;
  border-style: solid; /* Ensure there is a border */
  border-width: 2px; /* Adjust as needed */
  
  /* Adding red glow */
  box-shadow: 0px 0px 7px #0063A1;; /* Horizontal, Vertical, Blur radius, Color */
}

/* Responsive design */
@media (max-width: 1200px) {
  .project1, .project2, .project3, .project4 {
    width: 45%; /* 2 items per row for medium screens */
  }
}

@media (max-width: 768px) {
  .project1, .project2, .project3, .project4 {
    width: 95%; /* 1 item per row for small screens */
    height: 300px; /* Adjust height for smaller screens */
  }
}

.overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7); /* Black with 70% opacity */
  width: 100%; /* Full width of the container */
  height: 100%; /* Full height of the container */
  left: 0;
  top: 0;
  z-index: 10; /* Ensure it's above the content, but below other elements if necessary */
  border-radius: 10px; /* Matches the border-radius of the container */
}

.hoverVideo, .howToPlay{
  position: absolute;
  width: 100%; /* Take up full width of the parent container */
  left:0;
  top:0;
  height: 100%;
  object-fit: cover; /* Fill the container while preserving the aspect ratio */
  border-radius: 10px; 
  z-index: 1;
}
.howToPlay{
  opacity: .3;
  position: absolute;
  width: 33%; /* Take up full width of the parent container */
  left:0;
  top:0;
  height: 100%;
  object-fit: cover; /* Fill the container while preserving the aspect ratio */
  z-index: 1;
}
.gamePlay{
  opacity: .3;
  position: absolute;
  width: 33%; /* Take up full width of the parent container */
  left:66%;
  top:0;
  height: 100%;
  object-fit: cover; /* Fill the container while preserving the aspect ratio */
  z-index: 1;
}
.win{
  opacity: .3;
  position: absolute;
  width: 40%; /* Take up full width of the parent container */
  left:30%;
  top:0;
  height: 100%;
  object-fit: cover; /* Fill the container while preserving the aspect ratio */
  z-index: 1;
}
.overlay{
  position: absolute;
  background-color: rgba(0, 0, 0, 0.65);  
  object-fit: cover;
  width: 100%; /* Take up full width of the parent container */
  left:0;
  top:0;
  height: 100%;
  z-index: 20;
}


.Projtitle{
  position: absolute;
  z-index: 22;
  object-fit: cover;
  width: 100%; /* Take up full width of the parent container */
  left:0;
  top:-25%;
  height: 80%;
  color: azure;
  text-align: center;
  justify-content: center;
  align-content: center;
  /* border: solid black; */
  /* text-decoration: underline; */
}
#ELtext{
  font-size: 2.8em;
  color: lightgreen;
  font-family: 'Press Start 2P', cursive;
}
@media (max-width: 768px) {
  #ELtext, #NCtext, #BCtext {
    font-size: 2.4em;
  }
}
@media (max-width: 768px) { #titles{
    font-size: 1.7em;
    margin-right: 0px;
    height: 150px;
    width:170px;
    margin-bottom: 45px;
    padding-left: 5px;
    border-left: black solid;
    text-align: left;
  }
}
@media (max-width: 768px) { #name{
  font-size: 3em;
  margin-right: 5px;
  width:165px


}
}
#NCtext{
  font-size: 2.8em;
  color: red;
}
#BCtext{
  font-size: 2.8em;
  color: #0063A1;
  font-family: 'Luckiest Guy', cursive;
}
.Projtag{
  position: absolute;
  z-index: 22;
  object-fit: cover;
  width: 100%; /* Take up full width of the parent container */
  left:0%;
  top:10%;
  height: 80%;
  color: azure;
  justify-content: flex-end;
  text-align: center;
  align-content: center;
  font-size: 1em;
}

.Projbutton{
  position: absolute;
  z-index: 22;
  object-fit: cover;
  width: 100%; /* Take up full width of the parent container */
  left:0%;
  top:40%;
  height: 80%;
  justify-content: flex-end;
  text-align: center;
  align-content: center;
  background-color: transparent;
  border: none;
  padding: 0;
  outline: none;
}

.btnStyle{
  text-decoration: underline;
  font-size: 1em;
  text-underline-offset: 8px;
  color: azure;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
  font-family: 'Fira Code', monospace;  
}
/* .ELText{
  margin-top: 20px;
} */